<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.app.repository.AdminMemberRepository">

    <select id="selectOne" parameterType="Integer" resultType="AdminMemberDto">
        SELECT * FROM company_member_admin WHERE member_idx=#{memberIdx}
    </select>

    <select id="findId" parameterType="String" resultType="AdminMemberDto">
        SELECT * FROM company_member_admin WHERE member_name=#{param1} and member_email=#{param2}
    </select>
    <select id="findPw" parameterType="String" resultType="AdminMemberDto">
        SELECT * FROM company_member_admin WHERE member_name=#{param1} and member_id=#{param2} and member_email=#{param3}
    </select>
    <select id="selectById" parameterType="String" resultType="AdminMemberDto">
        SELECT * FROM company_member_admin WHERE member_id=#{memberId}
    </select>
    <select id="select" resultType="AdminMemberDto">
        SELECT * FROM company_member_admin
    </select>
    <insert id="insert" parameterType="AdminMemberDto">
        INSERT INTO company_member_admin VALUES (0, #{memberId},#{memberPw},#{memberName},
                                                 #{memberEmail},#{memberEmailReceive},#{memberPwQuestion},
                                                 #{memberPwAnswer},#{memberGender},#{memberBirthDate}, now())
    </insert>
    <update id="update" parameterType="AdminMemberDto">
        UPDATE company_member_admin SET member_id=#{memberId}, member_pw=#{memberPw}, memberName=#{memberName},
                                        member_email=#{memberEmail} WHERE member_idx=#{memberIdx}
    </update>
    <delete id="delete" parameterType="Integer">
        DELETE FROM company_member_admin WHERE member_idx=#{memberIdx}
    </delete>


</mapper>